**/*.ast
**/*.cfg
**/*.cfg0
**/*.cfg1
**/*.cfg2
**/*.cfg3
**/*.e.dump
**/*.e.html
**/*.exe
**/*.json
**/*.lex
**/*.linear
**/*.linear1
**/*.ltl
**/*.rig
**/*.rtl
**/*.s
**/*.svg
results.html
__pycache__